<div class="overflow-x-auto mt-6">
    <table class="min-w-full bg-white border">
        <thead class="bg-gray-50">
            <tr>
                <th class="py-3 px-4 text-left text-sm font-medium text-gray-600">Nombre</th>
                <th class="py-3 px-4 text-left text-sm font-medium text-gray-600">Email</th>
                <th class="py-3 px-4 text-left text-sm font-medium text-gray-600">Role</th>
                <th class="py-3 px-4 text-left text-sm font-medium text-gray-600">Estado</th>
                <th *ngIf="isAdmin" class="py-3 px-4 text-left text-sm font-medium text-gray-600">Cambiar estado</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let user of users" class="hover:bg-gray-100">
                <td class="py-3 px-4 text-sm text-gray-700">{{ user.name }}</td>
                <td class="py-3 px-4 text-sm text-gray-700">{{ user.email }}</td>
                <td class="py-3 px-4 text-sm text-gray-700">{{ user.role }}</td>
                <td class="py-3 px-4 text-sm text-gray-700">{{ user.estado ? 'Activo' : 'Inactivo'}}</td>
                <td *ngIf="isAdmin" class="py-3 px-4 text-sm text-gray-700">
                    <button (click)="cambiarEstadoUsuario(user)" class="px-4 py-2 bg-blue-600 text-white rounded hover:bg-blue-700">Cambiar estado</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>
